{% from '_render_fileds.html' import render_field %}
{% extends 'base.html' %}

{% block titile %}Reset_password{% endblock %}
{% block body %}

  <section>
    <div class="left"></div>
    <div class="right">
      <form method="post">
          <h1>Enter New Password</h1>
          {{ form.hidden_tag() }}
          {{ render_field(form.password) }}
          {{ render_field(form.password_confirm) }}
          <input type="submit" value="Go">
      </form>
    </div>
  </section>

{% endblock %}
